.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card .front {
  position: absolute;
  transform: rotateY(90deg);
  transition: 0.2s ease-in;
}

.flipped .front {
  transform: rotateY(0);
  transition-delay: 0.2s;
}

.card .back {
  transform: rotateY(0);
  transition: 0.2s ease-in;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0;
}
